@{
    ViewData["Title"] = "Wedstrijdschema";
}

@model EventPageModel 

<div class="container">
    <div class="row text-center mb-5">
        <div class="col mt-4">
            <h2>@Model.Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col ms-5 me-5">
            <div class="row">
                <div class="col">
                    <h5>Datum: @Model.Date</h5>
                </div>
                <div class="col">
                    <h5>Tijdsduur: @Model.StartTime tot @Model.EndTime</h5>
                </div>
            </div>
            <div class="row border border-dark">
                <div class="row ms-2 mt-2">
                    <div class="col ms-2">
                        <h5>
                            Onderdelen
                        </h5>
                    </div>
                    <div class="col ms-2">
                        <h5>
                            Tijd
                        </h5>
                    </div>
                </div>
                <div class="row m-3 ms-2 mt-2">
                    <div class="col list-group">
                        @{
                            foreach (AthleteTrackLogic.Classes.Discipline discipline in Model.Disciplines)
                            {
                                <a href="?ID=@Model.ID&DisciplineID=@discipline.DisciplineID" class="list-group-item me-2 ms-2">@discipline.Name</a>
                            }
                        }
                    </div>
                    <div class="col">
                        <ul class="list-group">
                            @{
                                foreach (AthleteTrackLogic.Classes.Discipline discipline in Model.Disciplines)
                                {
                                    <li class="list-group-item me-2 ms-2">@discipline.StartTime - @discipline.EndTime</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ms-5 me-5">
            <div class="row">
                <h4>Info:</h4>
            </div>
            <div class="row border border-dark">
                <div class="row ms-0 mt-3">
                    <h5><img height="50px" src="~/img/GroupIcon.jpg" />:</h5>
                </div>
                <div class="row ms-1">
                    <ul class="list-group">
                        @{
                            foreach (AthleteTrackLogic.Classes.Athlete atleet in Model.Atleten)
                            {
                                <li style="max-width:300px" class="list-group-item py-1 me-1 ms-1">@atleet.Name</li>
                            }
                        }
                    </ul>
                </div>
                <div class="row ms-1 mt-3 mb-3">
                    <h6>Regelgeving: 
                        @{
                            foreach (AthleteTrackLogic.Classes.Discipline discipline in Model.Disciplines)
                            {
                                if (discipline.DisciplineID == Model.OnderdeelID)
                                {
                                    <p style="font-weight: normal">@discipline.Rules</p>
                                }
                            }
                        }
                    </h6>
                </div>
            </div>
        </div>
    </div>
    </div>